---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import aboutPageHero from "../assets/hero_logo.webp";
import AboutCard from "../components/AboutCard.astro";
---

<Layout>
  <Navbar />
  <div class="flex items-center justify-center my-24">
    <Image
      src={aboutPageHero}
      alt="About MTGA Artisan"
      width={720}
      height={553}
      loading="eager"
      fetchpriority="high"
    />
  </div>
  <section
    id="card-section"
    class="card-section w-full max-w-screen-2xl mx-auto mb-20"
  >
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-28 justify-items-center">
      <AboutCard />
      <AboutCard />
      <AboutCard />
      <AboutCard />
      <AboutCard class="md:col-span-2 md:justify-self-center" />
    </div>
  </section>
  <Footer />
</Layout>
