---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import aboutPageHero from "../assets/hero_logo.webp";
import AboutCardSection from "../components/AboutCardSection.astro";
import CallToAction from "../components/CallToAction.astro";
---

<Layout>
  <Navbar />
  <div class="flex items-center justify-center my-24">
    <Image
      src={aboutPageHero}
      alt="About MTGA Artisan"
      width={720}
      height={553}
      loading="eager"
      fetchpriority="high"
    />
  </div>
  <AboutCardSection />
  <CallToAction />
  <Footer />
</Layout>
