---
import ArticleCard from "./ArticleCard.astro";

interface ArticleItem {
  title?: string;
  excerpt?: string;
  imageUrl?: string;
  href?: string;
}

const { articles = [] } = Astro.props as { articles?: ArticleItem[] };
---

<section class="article-list flex flex-col items-center gap-24 md:gap-44 mb-24">
  {
    Astro.slots.default ? <slot />
    : articles.length ?
      <>
        {articles.map((article) => (
          <ArticleCard {...article} />
        ))}
      </>
    : <>
        <ArticleCard />
        <ArticleCard />
      </>
  }
</section>
