---
const { class: className, ...rest } = Astro.props;
---

<button
  class={`text-primary font-body w-[305px] h-[305px] p-4 bg-background rounded-full font-light text-xs md:text-base cursor-pointer flex flex-col items-center justify-center gap-3 text-center ${className ?? ""}`}
  {...rest}
>
  <slot name="icon" />
  <slot />
</button>

<style>
  button {
    color: var(--color-text);
    box-shadow: 0 5px 10px -2px var(--color-primary);
    transition: all 0.2s ease-in-out;
  }

  button:hover {
    box-shadow: 0 0 10px var(--color-primary);
  }
</style>
