---
import heroLogo from "../assets/hero_logo.webp";
import MainButton from "./MainButton.astro";
---

<section
  class="w-full max-w-screen-2xl mx-auto flex flex-col md:flex-row items-center justify-center py-8"
  id="hero-container"
>
  <div class="w-full max-w-[598px] md:max-w-[733px] shrink-0" id="hero-logo">
    <img
      src={heroLogo.src}
      alt="MTGA Artisan Logo"
      class="w-full h-auto"
      width="733"
      height="430"
    />
  </div>
  <div class="flex flex-col items-center justify-center">
    <p
      class="font-medium font-heading text-text text-[1.5625rem] leading-normal text-right md:text-left mt-5 md:mt-40 px-11 md:px-20 mb-10"
    >
      MTGA Artisan is an international community dedicated to the Artisan format
      of Magic: The Gathering Arena, a strategic and accessible format that
      highlights creativity, skill, and passion through the exclusive use of
      common and uncommon cards.
    </p>
    <div class="flex items-center justify-center">
      <MainButton>Discord</MainButton>
    </div>
  </div>
</section>
