---
import MainButton from "./MainButton.astro";
import burgerIcon from "../assets/burger-menu-icon.svg";
---

<div class="w-full shadow shadow-black/75">
  <nav class="navbar w-full max-w-screen-2xl mx-auto px-6 py-9">
    <!-- Mobile Layout -->
    <div class="md:hidden flex justify-between items-center">
      <!-- Burger Menu Button -->
      <button class="burger-menu z-50" id="mobile-menu-button">
        <img src={burgerIcon.src} alt="Menu" class="w-6 h-10" />
      </button>
      <!-- Logo mobile -->
      <a href="/" class="navbar-logo">
        <img
          src="/fire_hammer_logo.png"
          alt="MTGA Artisan Logo"
          class="h-12 w-12 ml-5"
        />
      </a>
      <!-- Community button Mobile -->
      <MainButton href="#">Community</MainButton>
    </div>

    <!-- Desktop Layout -->
    <div
      class="navbar-container hidden md:grid grid-cols-[1fr_auto_1fr] items-center"
    >
      <ul
        class="navbar-menu flex justify-center items-center gap-10 text-[#B3B3B3]! text-xl col-start-2"
      >
        <li class="navbar-item">
          <a href="/Inn" class="navbar-link">Inn</a>
        </li>
        <li class="navbar-item">
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
          <a href="/play-artisan" class="navbar-link">Play Artisan</a>
        </li>
        <li class="navbar-item">
          <a href="/" class="navbar-logo">
            <img
              src="/fire_hammer_logo.png"
              alt="MTGA Artisan Logo"
              class="h-18 w-18"
            />
          </a>
        </li>
        <li class="navbar-item">
          <a href="/news" class="navbar-link">News</a>
        </li>
        <li class="navbar-item">
          <a href="/events" class="navbar-link">Events</a>
        </li>
        <li class="navbar-item">
          <a href="/rankings" class="navbar-link">Rankings</a>
        </li>
      </ul>
      <div class="col-start-3 justify-self-end">
        <MainButton href="#" class="md:!mr-5">Community</MainButton>
      </div>
    </div>
    <!-- Mobile Overlay Menu (hidden by default) -->
    <div class="mobile-menu-overlay hidden md:hidden" id="mobile-menu">
      <ul>
        <li class="navbar-item">
          <a href="/Inn" class="navbar-link">Inn</a>
        </li>
        <li class="navbar-item">
          <a href="/About" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
          <a href="/play-artisan" class="navbar-link">Play Artisan</a>
        </li>
        <li class="navbar-item">
          <a href="/news" class="navbar-link">News</a>
        </li>
        <li class="navbar-item">
          <a href="/events" class="navbar-link">Events</a>
        </li>
        <li class="navbar-item">
          <a href="/rankings" class="navbar-link">Rankings</a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");

    menuButton?.addEventListener("click", () => {
      mobileMenu?.classList.toggle("hidden");
    });
  });
</script>
