---
import { Image } from "astro:assets";
import MainButton from "./MainButton.astro";
import burgerIcon from "../assets/burger-menu-icon.svg";
import closeIcon from "../assets/icons/close_icon.svg";
import fireHammerLogo from "../assets/fire_hammer_logo.webp";
---

<div class="w-full md:shadow md:shadow-black/75">
  <nav class="navbar w-full max-w-screen-2xl mx-auto px-10 py-9">
    <!-- Mobile Layout -->
    <div class="md:hidden grid grid-cols-[1fr_auto_1fr] items-center">
      <!-- Burger Menu Button -->
      <div class="w-full flex justify-start">
        <button class="burger-menu z-50" id="mobile-menu-button">
          <img src={burgerIcon.src} alt="Menu" class="w-10 h-10" />
        </button>
      </div>
      <!-- Logo mobile -->
      <a href="/" class="navbar-logo justify-self-center">
        <Image
          src={fireHammerLogo}
          alt="MTGA Artisan Logo"
          width={72}
          height={72}
          class="h-18 w-18"
          loading="eager"
          fetchpriority="high"
        />
      </a>
    </div>

    <!-- Desktop Layout -->
    <div
      class="navbar-container hidden md:grid grid-cols-[1fr_auto_1fr] items-center"
    >
      <ul
        class="navbar-menu flex justify-center items-center gap-10 text-[#B3B3B3]! text-xl col-start-2"
      >
        <li class="navbar-item">
          <a href="/" class="navbar-link">Inn</a>
        </li>
        <li class="navbar-item">
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
          <a href="/playArtisan" class="navbar-link">Play Artisan</a>
        </li>
        <li class="navbar-item">
          <a href="/" class="navbar-logo">
            <Image
              src={fireHammerLogo}
              alt="MTGA Artisan Logo"
              width={72}
              height={72}
              class="h-18 w-18"
              loading="eager"
              fetchpriority="high"
            />
          </a>
        </li>
        <li class="navbar-item">
          <a href="/news" class="navbar-link">News</a>
        </li>
        <li class="navbar-item">
          <a href="/comingSoon" class="navbar-link">Events</a>
        </li>
        <li class="navbar-item">
          <a href="/comingSoon" class="navbar-link">Rankings</a>
        </li>
      </ul>
      <div class="col-start-3 justify-self-end">
        <MainButton href="#" class="md:!mr-5">Community</MainButton>
      </div>
    </div>
    <!-- Mobile Overlay Menu (hidden by default) -->
    <div
      class="mobile-menu-overlay hidden md:hidden text-center w-[300px] h-[500px] bg-background/80 backdrop-blur-md rounded-xl absolute top-0 left-0 z-90 flex items-center justify-center"
      id="mobile-menu"
    >
      <button
        class="absolute top-6 right-6 bg-transparent"
        id="mobile-menu-close"
      >
        <img src={closeIcon.src} alt="Close Menu" />
      </button>
      <ul>
        <li class="navbar-item">
          <a href="/" class="navbar-link">Inn</a>
        </li>
        <li class="navbar-item">
          <a href="/about" class="navbar-link">About</a>
        </li>
        <li class="navbar-item">
          <a href="/play-artisan" class="navbar-link">Play Artisan</a>
        </li>
        <li class="navbar-item">
          <a href="/news" class="navbar-link">News</a>
        </li>
        <li class="navbar-item">
          <a href="/comingSoon" class="navbar-link">Events</a>
        </li>
        <li class="navbar-item">
          <a href="/comingSoon" class="navbar-link">Rankings</a>
        </li>
        <li class="navbar-item">
          <MainButton href="#">Community</MainButton>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuButton = document.getElementById("mobile-menu-button");
    const mobileMenu = document.getElementById("mobile-menu");
    const closeButton = document.getElementById("mobile-menu-close");

    menuButton?.addEventListener("click", () => {
      mobileMenu?.classList.toggle("hidden");
    });

    closeButton?.addEventListener("click", () => {
      mobileMenu?.classList.add("hidden");
    });
  });
</script>

<style>
  #mobile-menu {
    box-shadow: 0 5px 15px 2px var(--color-primary);
  }

  @media (max-width: 767px) {
    .navbar-item {
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
    }
  }
</style>
